.container {
  width: 100%;
  max-width: 1440px;
}

section {
  margin: 1rem 0;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-table {
  width: 100%;
  text-align: center;
  border: 1px solid #ddd;
  margin-top: 1rem;
  padding: 0;
  border-collapse: collapse;
  -webkit-box-shadow: 0px 3px 7px -4px #000000;
  box-shadow: 0px 3px 7px -4px #000000;
  border-radius: 3px;
  overflow: hidden;
}

.product-table__head {
  background-color: #fff;
  font-weight: normal;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

td,
th {
  border-collapse: collapse;
  padding: 8px;
}

.product-table__body:nth-child(odd) {
  background-color: #f0f0f0;
}
.product-table__body:nth-child(even) {
  background-color: #fff;
}

.product-table__body td:last-child {
  width: 10%;
  min-width: 90px;
}

.product-table__btn {
  border: 0;
  background-color: unset;
  padding: 4px;
  cursor: pointer;
  font-size: 1.2rem;
  margin: 0 4px;
}

.product-table__btn.edit {
  color: #4f46e5;
}
.product-table__btn.delete {
  color: #dc2626;
}

.product-form {
  width: 40%;
  min-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 32px;
}

.form-input {
  width: 90%;
  margin-bottom: 8px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  padding: 8px;
  font-size: 1rem;
}

.category {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.category__select {
  width: 90%;
}

label {
  display: block;
  margin-bottom: 4px;
}

.add-btn {
  font-size: 1.2rem;
  border: 0;
  background-color: unset;
  margin-left: 4px;
  color: #16a34a;
  cursor: pointer;
  outline: none;
}

.submit-btn{
  width: 90%;
  border: 0;
  background-color: #4f46e5;
  color: #fff;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
}

.search-input{
  width: 100%;
}

.search-wrapper{
  width: 50%;
  margin: 1rem 0;
}