.modal {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #8f8f8f;
  top: 0;
}

.modal-content {
  position: absolute;
  top: 10%;
  background-color: #fff;
  width: 35%;
  min-width: 320px;
  padding: 12px;
  border-radius: 4px;
}

.modal-header {
  text-align: center;
  border-bottom: 1px solid #cdcdcd;
  padding: 4px;
  margin-bottom: 24px;
}

.category-form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 8px 0 36px;
}
.category-form input, .category-form button{
  width: 100%;
  margin-top: 4px;
}

.close-modal{
  border: 0;
  background-color: unset;
  cursor: pointer;
  position: absolute;
  font-size: 1.1rem;
}

.close-modal:hover{
  color: #dc2626;
}

.show {
  -webkit-animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}